@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab 2 - ASP.NET MVC Fundamentals</h1>
    <p>This lab is to show our ability to successfully create a new .NET Core MVC web application and use some basic MVC Concepts. </p>
</div>
